Repository CGBae/CJ-Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, test_ansible_syntax, deploy_to_server

build_frontend:
  stage: build
  image: node:18-alpine
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
  script:
  - echo "Starting Frontend Build..."
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/.next/

test_ansible_syntax:
  stage: test
  image: alpine:latest
  before_script:
  - apk add --no-cache ansible
  script:
  - echo "Checking Ansible playbook syntax..."
  - ansible-playbook -i "localhost," --syntax-check ansible/deploy.yml
  when: on_success

deploy_to_server:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache ansible openssh-client
  - eval $(ssh-agent -s)
  - echo "$SERVER_SSH_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "StrictHostKeyChecking no" >> /etc/ssh/ssh_config
  script:
  ...

CICD test
  frontend/README.md
Due: build_frontend, deploy_to_server

CICD(env, database) update
  ansible/docker-compose.yml
  ansible/playbook.yml
Due: none

CICD update
  ansible/playbook.yml
Due: none

CICD update
  ansible/docker-compose.yml
Due: none

CICD update
  .github/workflows/ci.yml
  frontend/Dockerfile
Due: build_frontend, deploy_to_server

CICD update
  frontend/Dockerfile
Due: build_frontend, deploy_to_server

CICD update
  frontend/src/lib/api.ts
Due: build_frontend, deploy_to_server

CICD update
  .github/workflows/ci.yml
  frontend/Dockerfile
  frontend/src/app/(counselor)/counselor/[patientId]/page.tsx
  frontend/src/app/(counselor)/counselor/page.tsx
  frontend/src/app/(counselor)/counseloroption/page.tsx
  frontend/src/app/(counselor)/dashboard/counselor/page.tsx
  frontend/src/app/(counselor)/intake/counselor/page.tsx
  frontend/src/app/(patient)/compose/page.tsx
  frontend/src/app/(patient)/counsel/page.tsx
  frontend/src/app/(patient)/dashboard/patient/page.tsx
  frontend/src/app/(patient)/music/page.tsx
  frontend/src/app/(patient)/patientoption/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/auth/kakao/callback/KakaoCallbackClient.tsx
  frontend/src/app/login/LoginClient.tsx
  frontend/src/app/register/page.tsx
  frontend/src/lib/auth.ts
  frontend/src/lib/contexts/AuthContext.tsx
Due: build_frontend, deploy_to_server

CICD update
  frontend/src/app/login/LoginClient.tsx
  frontend/src/app/register/page.tsx
Due: build_frontend, deploy_to_server

CICD update
  ansible/docker-compose.yml
  ansible/playbook.yml
Due: none

CICD update
  backend/Dockerfile
Due: deploy_to_server

CICD update
  backend/app/main.py
Due: deploy_to_server

CICD update
  backend/Dockerfile
  backend/alembic.ini
  backend/entrypoint.sh
Due: deploy_to_server

CICD update
  backend/entrypoint.sh
Due: deploy_to_server

CICD update
  backend/migrations/env.py
  backend/migrations/versions/1e34abb626f8_add_new_table.py
  backend/migrations/versions/4c5c67ba0f8f_add_name_column_to_user_table.py
  backend/migrations/versions/5f0c84386f7d_add_new_table.py
  backend/migrations/versions/725cad728305_add_new_table.py
  backend/migrations/versions/7bd24656007e_add_name_column_to_user_table.py
  backend/migrations/versions/7d5c0d65db46_update_table.py
  backend/migrations/versions/9f90c2e45008_add_new_table.py
  backend/migrations/versions/a531501d63a1_add_name_column_to_user_table.py
  backend/migrations/versions/c4400f9fc8f8_add_new_table.py
  backend/migrations/versions/e4d659de859f_add_new_table.py
Due: deploy_to_server

CICD update
  ansible/docker-compose.yml
  backend/alembic.ini
  backend/app/db.py
  backend/migrations/env.py
Due: deploy_to_server

CICD update
  backend/alembic.ini
  backend/migrations/versions/572cb9fa04c6_init.py
Due: deploy_to_server

CICD update
  backend/alembic.ini
Due: deploy_to_server

cicd UPDATE
  frontend/src/app/login/LoginClient.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
Due: build_frontend, deploy_to_server

CICD update
  frontend/src/app/(patient)/counsel/page.tsx
  frontend/src/app/(patient)/dashboard/patient/page.tsx
  frontend/src/app/(patient)/patientoption/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/lib/contexts/AuthContext.tsx
Due: build_frontend, deploy_to_server

CICD update
  frontend/src/app/(counselor)/counselor/[patientId]/page.tsx
  frontend/src/app/(counselor)/counselor/page.tsx
  frontend/src/app/(counselor)/counseloroption/page.tsx
  frontend/src/app/(counselor)/dashboard/counselor/page.tsx
  frontend/src/app/(counselor)/intake/counselor/page.tsx
  frontend/src/app/(patient)/compose/page.tsx
  frontend/src/app/(patient)/music/page.tsx
  frontend/src/app/auth/kakao/callback/KakaoCallbackClient.tsx
Due: build_frontend, deploy_to_server

CICD update
  backend/app/api/routers/therapist.py
Due: deploy_to_server

CICD update
  frontend/src/app/(counselor)/counseloroption/page.tsx
Due: build_frontend, deploy_to_server

CICD update
  .github/workflows/ci.yml
Due: none

main push
  .github/workflows/ci.yml
Due: none

main push
  backend/migrations/README
Due: deploy_to_server

main push
  backend/migrations/versions/1e34abb626f8_add_new_table.py
  backend/migrations/versions/4c5c67ba0f8f_add_name_column_to_user_table.py
  backend/migrations/versions/5f0c84386f7d_add_new_table.py
  backend/migrations/versions/725cad728305_add_new_table.py
  backend/migrations/versions/7bd24656007e_add_name_column_to_user_table.py
  backend/migrations/versions/7d5c0d65db46_update_table.py
  backend/migrations/versions/9f90c2e45008_add_new_table.py
  backend/migrations/versions/a531501d63a1_add_name_column_to_user_table.py
  backend/migrations/versions/c4400f9fc8f8_add_new_table.py
  backend/migrations/versions/e4d659de859f_add_new_table.py
Due: deploy_to_server

Path conditions:
  build_frontend: any of: frontend/**/*
  test_ansible_syntax: any of: ansible/deploy.yml, .gitlab-ci.yml
  deploy_to_server: any of: backend/**/*, frontend/**/*, ansible/deploy.yml, .gitlab-ci.yml
