Repository CGBae/CJ-Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, test_ansible_syntax, deploy_to_server

build_frontend:
  stage: build
  image: node:18-alpine
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
  script:
  - echo "Starting Frontend Build..."
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/.next/

test_ansible_syntax:
  stage: test
  image: alpine:latest
  before_script:
  - apk add --no-cache ansible
  script:
  - echo "Checking Ansible playbook syntax..."
  - ansible-playbook -i "localhost," --syntax-check ansible/deploy.yml
  when: on_success

deploy_to_server:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache ansible openssh-client
  - eval $(ssh-agent -s)
  - echo "$SERVER_SSH_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "StrictHostKeyChecking no" >> /etc/ssh/ssh_config
  script:
  ...

frontend update
  backend/app/api/routers/connection.py
  backend/app/schemas.py
  frontend/src/app/mypage/page.tsx
Due: build_frontend, deploy_to_server

main update
  backend/app/services/openai_chat.py
  backend/app/services/openai_client.py
  backend/app/services/prompt_from_guideline.py
Due: deploy_to_server

main update
  backend/app/api/routers/patient.py
Due: deploy_to_server

main update
  backend/app/services/elevenlabs_client.py
Due: deploy_to_server

main update
  backend/app/services/elevenlabs_client.py
  backend/app/workers/music_worker.py
Due: deploy_to_server

main update
  backend/app/workers/music_worker.py
Due: deploy_to_server

main update
  frontend/src/app/(patient)/music/page.tsx
Due: build_frontend, deploy_to_server

main update
  ansible/docker-compose.yml
Due: none

main update
  backend/app/main.py
Due: deploy_to_server

main update
  backend/app/api/routers/music.py
Due: deploy_to_server

main update
  backend/app/services/openai_client.py
Due: deploy_to_server

main update
  backend/app/api/routers/board.py
  frontend/src/app/(counselor)/manage-music/page.tsx
  frontend/src/app/(patient)/dashboard/patient/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/app/(patient)/music/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/app/board/[postId]/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/app/(counselor)/counselor/[patientId]/page.tsx
Due: build_frontend, deploy_to_server

fronetend update
  frontend/src/app/(counselor)/counselor/[patientId]/page.tsx
Due: build_frontend, deploy_to_server

main update
  frontend/src/app/(patient)/counsel/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/app/api/routers/music.py
Due: deploy_to_server

frontend update
  backend/app/schemas.py
Due: deploy_to_server

Path conditions:
  build_frontend: any of: frontend/**/*
  test_ansible_syntax: any of: ansible/deploy.yml, .gitlab-ci.yml
  deploy_to_server: any of: backend/**/*, frontend/**/*, ansible/deploy.yml, .gitlab-ci.yml
