Repository CGBae/CJ-Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, test_ansible_syntax, deploy_to_server

build_frontend:
  stage: build
  image: node:18-alpine
  cache:
    key:
      files:
      - frontend/package-lock.json
    paths:
    - frontend/node_modules/
  script:
  - echo "Starting Frontend Build..."
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/.next/

test_ansible_syntax:
  stage: test
  image: alpine:latest
  before_script:
  - apk add --no-cache ansible
  script:
  - echo "Checking Ansible playbook syntax..."
  - ansible-playbook -i "localhost," --syntax-check ansible/deploy.yml
  when: on_success

deploy_to_server:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add --no-cache ansible openssh-client
  - eval $(ssh-agent -s)
  - echo "$SERVER_SSH_KEY" | tr -d '\r' | ssh-add -
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "StrictHostKeyChecking no" >> /etc/ssh/ssh_config
  script:
  ...

frontend update
  frontend/src/app/(counselor)/counselor/[patientId]/page.tsx
Due: build_frontend, deploy_to_server

backend1 update
  .github/workflows/ci.yml
  ansible/docker-compose.yml
  backend/app/api/routers/music.py
  backend/app/kafka.py
  backend/app/main.py
  backend/app/models.py
  backend/app/workers/music_worker.py
  backend/requirements.txt
Due: deploy_to_server

backend1 update
  ansible/docker-compose.yml
Due: none

backend1 update
  backend/alembic.ini
Due: deploy_to_server

backend1 update
  backend/alembic.ini
  backend/migrations/versions/1804b8892c3b_add_async_track_fields.py
Due: deploy_to_server

backend1 update
  backend/migrations/env.py
Due: deploy_to_server

frontend update
  backend/app/api/routers/board.py
  backend/app/models.py
  backend/app/schemas.py
  frontend/src/app/(counselor)/counselor/[patientId]/page.tsx
  frontend/src/app/(patient)/board/[postId]/page.tsx
  frontend/src/app/(patient)/board/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/alembic.ini
  backend/migrations/versions/09880dbbed92_add_board_tables.py
Due: deploy_to_server

frontend update
  backend/alembic.ini
Due: deploy_to_server

backend1 update
  ansible/playbook.yml
Due: none

frontend update
  backend/migrations/versions/09880dbbed92_add_board_tables.py
  backend/migrations/versions/7e2ac5eeb031_add_board_tables.py
  backend/migrations/versions/fc4f76f81bb5_init.py
Due: deploy_to_server

frontend update
  backend/migrations/versions/590abf31f796_add_board_tables.py
  backend/migrations/versions/7e2ac5eeb031_add_board_tables.py
Due: deploy_to_server

frontend update
  ansible/playbook.yml
Due: none

main update
  ansible/playbook.yml
Due: none

frontend update
  backend/app/main.py
Due: deploy_to_server

backend1 update
  backend/migrations/versions/1804b8892c3b_add_async_track_fields.py
  backend/migrations/versions/590abf31f796_add_board_tables.py
  backend/migrations/versions/81e05e92dfa4_add_async_track_fields.py
Due: deploy_to_server

backend1 update
  backend/migrations/versions/3789284f4f80_add_async_track_fields.py
  backend/migrations/versions/81e05e92dfa4_add_async_track_fields.py
Due: deploy_to_server

frontend update
  frontend/src/app/(patient)/board/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/app/api/routers/board.py
  backend/app/schemas.py
  frontend/src/app/(patient)/board/page.tsx
  frontend/src/app/board/[postId]/page.tsx
  frontend/src/app/board/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/app/board/page.tsx
  frontend/src/components/header.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/app/board/[postId]/page.tsx
  frontend/src/app/board/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/app/board/[postId]/page.tsx
Due: build_frontend, deploy_to_server

backend1 update
  backend/migrations/README
Due: deploy_to_server

backend1 update
  .github/workflows/ci.yml
Due: none

frontend update
  backend/app/api/routers/board.py
  frontend/src/app/board/[postId]/page.tsx
  frontend/src/app/board/page.tsx
Due: build_frontend, deploy_to_server

frontendupdate
  .github/workflows/ci.yml
Due: none

frontend update
  .github/workflows/ci.yml
Due: none

frontend update
  ansible/playbook.yml
  frontend/src/app/board/[postId]/page.tsx
  frontend/src/app/board/page.tsx
Due: build_frontend, deploy_to_server

Path conditions:
  build_frontend: any of: frontend/**/*
  test_ansible_syntax: any of: ansible/deploy.yml, .gitlab-ci.yml
  deploy_to_server: any of: backend/**/*, frontend/**/*, ansible/deploy.yml, .gitlab-ci.yml
