Repository CGBae/CJ-Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, test_ansible_syntax, deploy_to_server

.gitlab-ci.yml:

# .gitlab-ci.yml
# GitLab CI/CDì˜ ë©”ì¸ ì„¤ì • íŒŒì¼ì…ë‹ˆë‹¤.

# 1. íŒŒì´í”„ë¼ì¸ ë‹¨ê³„ë¥¼ 3ê°œë¡œ ì •ì˜í•©ë‹ˆë‹¤: build -> test -> deploy
stages:
  - build
  - test
  - deploy

# 2. CI (ë¹Œë“œ) ë‹¨ê³„: í”„ë¡ íŠ¸ì—”ë“œ ì½”ë“œë¥¼ ë¹Œë“œí•˜ì—¬ ê²€ì‚¬í•©ë‹ˆë‹¤.
build_frontend:
  stage: build
  image: node:18-alpine # Node.js 18 ë²„ì „ í™˜ê²½ ì‚¬ìš©
  cache: # npm íŒ¨í‚¤ì§€ ìºì‹±ìœ¼ë¡œ ë‹¤ìŒ ì‹¤í–‰ ì†ë„ í–¥ìƒ
    key:
      files:
        - frontend/package-lock.json # ğŸ‘ˆ package-lock.json ê¸°ì¤€
    paths:
      - frontend/node_modules/
  script:
    - echo "Starting Frontend Build..."
    - cd frontend
    - npm install
    # ğŸ’¡ [ì¤‘ìš”] ë¹Œë“œ ì‹œ ì‚¬ìš©í•  í™˜ê²½ ë³€ìˆ˜ë¥¼ GitLab ë³€ìˆ˜ì—ì„œ ê°€ì ¸ì˜µë‹ˆë‹¤.
    #    (ì´ ë³€ìˆ˜ë“¤ì€ ê¹ƒë© [Settings] > [CI/CD] > [Variables]ì— ë“±ë¡í•´ì•¼ í•©ë‹ˆë‹¤)
    - npm run build
  artifacts:
    # ë¹Œë“œ ê²°ê³¼ë¬¼(.next)ì„ ë‹¤ìŒ ë‹¨ê³„(ë°°í¬)ë¡œ ì „ë‹¬ (ì„ íƒì )
    paths:
      - frontend/.next/
  only:
    refs:
      - Git_CICD # ğŸ‘ˆ Git_CICD ë¸Œëœì¹˜ì—ì„œë§Œ ì‹¤í–‰
    changes:
      - frontend/**/* # ğŸ‘ˆ frontend í´ë”ê°€ ë³€ê²½ë  ë•Œë§Œ ì‹¤í–‰

# 3. Ansible ë¬¸ë²• ê²€ì‚¬ ë‹¨ê³„ (ì„œë²„ ì—†ì´ í…ŒìŠ¤íŠ¸ ê°€ëŠ¥)
test_ansible_syntax:
  stage: test
  image: alpine:latest # ê°€ë²¼ìš´ ì´ë¯¸ì§€ ì‚¬ìš©
  
  before_script:
    # 1. Ansible ì„¤ì¹˜
    - apk add --no-cache ansible
    
  script:
    - echo "Checking Ansible playbook syntax..."
    # 2. ğŸ’¡ ansible/deploy.yml íŒŒì¼ì˜ ë¬¸ë²•ë§Œ ê²€ì‚¬ (SSH ì ‘ì† ì•ˆ í•¨)
    #    'localhost,'ëŠ” ì„ì‹œ ì¸ë²¤í† ë¦¬(ì£¼ì†Œë¡)ë¥¼ ì œê³µí•˜ëŠ” êµ¬ë¬¸ì…ë‹ˆë‹¤.
    - ansible-playbook -i "localhost," --syntax-check ansible/deploy.yml
    # (setup.ymlë„ ê²€ì‚¬í•˜ë ¤ë©´ ì•„ë˜ ì¤„ ì¶”ê°€)
    # - ansible-playbook -i "localhost," --syntax-check ansible/setup.yml
    
  when: on_success # ğŸ‘ˆ 'build' ë‹¨ê³„ê°€ ì„±ê³µí–ˆì„ ë•Œë§Œ ì‹¤í–‰
  
  only:
    refs:
      - Git_CICD
    changes:
      - ansible/deploy.yml
      - .gitlab-ci.yml # ğŸ‘ˆ ì´ íŒŒì¼ì´ ë°”ë€Œë©´ test ì‹¤í–‰

# 4. CD (ë°°í¬) ë‹¨ê³„ (VM ì¤€ë¹„ ì „ê¹Œì§€ ì—¬ê¸°ì„œ ì‹¤íŒ¨í•˜ëŠ” ê²ƒì´ ì •ìƒ)
deploy_to_server:
  stage: deploy
  image: alpine:latest 
  
  before_script:
    # 1. Ansibleê³¼ SSH í´ë¼ì´ì–¸íŠ¸ ì„¤ì¹˜
    - apk add --no-cache ansible openssh-client
    # 2. ğŸ’¡ SSH í‚¤ ë“±ë¡ (VM ì¤€ë¹„ ì „ê¹Œì§€ $SERVER_SSH_KEY ë³€ìˆ˜ê°€ ì—†ì–´ ì—¬ê¸°ì„œ ì‹¤íŒ¨í•¨)
    - eval $(ssh-agent -s)
    - echo "$SERVER_SSH_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "StrictHostKeyChecking no" >> /etc/ssh/ssh_config

  script:
    - echo "Deploying to KT Cloud VM..."
    # 3. ğŸ’¡ Ansible Playbook ì‹¤í–‰ (VM ì¤€ë¹„ ì „ê¹Œì§€ ì—¬ê¸°ì„œ ì‹¤íŒ¨í•¨)
    - ansible-playbook -i "$SERVER_USER@$SERVER_HOST," ansible/deploy.yml
  
  when: on_success # ğŸ‘ˆ 'test' ë‹¨ê³„ê°€ ì„±ê³µí–ˆì„ ë•Œë§Œ ì‹¤í–‰
  
  only:
    refs:
      - Git_CICD
    changes:
      # ğŸ’¡ ë°±ì—”ë“œ, í”„ë¡ íŠ¸ì—”ë“œ, ì•¤ì„œë¸”, CI/CD íŒŒì¼ì´ ë³€ê²½ë˜ë©´ ë°°í¬ ì‹¤í–‰
      - backend/**/*
      - frontend/**/*
      - ansible/deploy.yml
      - .gitlab-ci.yml

frontend update
  frontend/src/app/mypage/page.tsx
Due: build_frontend, deploy_to_server

backend1 update
  frontend/README.md
Due: build_frontend, deploy_to_server

frontend update
  backend/app/api/routers/connection.py
Due: deploy_to_server

frontend update
  backend/app/api/routers/connection.py
  frontend/src/app/mypage/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/components/header.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/app/main.py
Due: deploy_to_server

frontend update
  backend/app/api/routers/connection.py
  backend/app/main.py
  frontend/src/app/mypage/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/app/schemas.py
  frontend/src/app/mypage/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/app/api/routers/connection.py
  backend/app/main.py
Due: deploy_to_server

frontend update
  backend/app/api/routers/connection.py
  backend/app/schemas.py
Due: deploy_to_server

frontend update
  backend/app/api/routers/connection.py
  backend/app/models.py
  backend/migrations/versions/6fc0f77f8ad2_add_board_features.py
  frontend/src/app/mypage/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/migrations/versions/6fc0f77f8ad2_add_board_features.py
  frontend/src/app/(counselor)/counseloroption/page.tsx
  frontend/src/app/(patient)/patientoption/page.tsx
  frontend/src/components/header.tsx
Due: build_frontend, deploy_to_server

backend1 update
  backend/app/api/routers/music.py
Due: deploy_to_server

backend1 update
  backend/app/api/routers/music.py
  frontend/src/app/(counselor)/intake/counselor/page.tsx
Due: build_frontend, deploy_to_server

backend1 update
  frontend/src/app/(patient)/compose/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/app/(counselor)/counselor/[patientId]/page.tsx
Due: build_frontend, deploy_to_server

main update
  .github/workflows/ci.yml
Due: none

frontend update
  backend/app/schemas.py
Due: deploy_to_server

frontend update
  frontend/src/app/(counselor)/counselor/[patientId]/page.tsx
  frontend/src/app/(patient)/dashboard/patient/page.tsx
  frontend/src/app/(patient)/music/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/app/(patient)/music/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/app/api/routers/chat.py
  backend/app/services/prompt_from_guideline.py
  frontend/src/app/(patient)/counsel/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/app/api/routers/auth.py
  backend/app/schemas.py
  frontend/src/app/help/page.tsx
  frontend/src/app/mypage/page.tsx
  frontend/src/components/header.tsx
Due: build_frontend, deploy_to_server

main update
  backend/migrations/README
Due: deploy_to_server

frontend update
  backend/app/api/routers/music.py
  frontend/src/app/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  frontend/src/app/(counselor)/intake/counselor/page.tsx
Due: build_frontend, deploy_to_server

frontend update
  backend/migrations/README
Due: deploy_to_server

frontend update
  frontend/src/app/(counselor)/counselor/page.tsx
  frontend/src/app/(counselor)/dashboard/counselor/page.tsx
  frontend/src/app/mypage/page.tsx
Due: build_frontend, deploy_to_server
